body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.06);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
  to bottom,
  #2263a0,
  #2a2a2a
);

  border-radius: 10px;
}

/* Mobile equation scaling */
@media (max-width: 430px) {
  .equation-scale {
    transform: scale(0.75);
  }
}

@media (max-width: 390px) {
  .equation-scale {
    transform: scale(0.7);
  }
}
